---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="Sobre mí">
    <p>
      Estoy haciendo pruebas con Azure. Debería cambiar esto más tarde.
    </p>
  </Page>
</Base>
