---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="Sobre mí">
    <p>
      Soy un estudiante de Ingeniería en TICs con una inagotable curiosidad y vehemencia por la tecnología.
    </p>
    <p>
      A nivel profesional, me dedico a proveer suporte técnico en aplicaciones internas de la empresa y gestionar a los usuarios de las mismas.
    </p>
    <p>
      En mi tiempo libre, disfruto aprender cosas nuevas y explorar maneras creativas de aplicar la tecnología en mi vida. He programado aplicaciones
      web, backend, scripts de automatización e incluso videojuegos, apoyándome en herramientas como frameworks y motores.
    </p>
    <p>
      Actualmente me encuentro aprendiendo sobre la cultura DevOps, la administración de servidores y el uso de los servicios en la nube.
      Mi meta es convertirme en Administrador de Sistemas profesional y especializarme en la administración de servidores Linux.
    </p>
    <p>
      En mi día a día utilizo Fedora Linux como sistema operativo principal y herramientas de código libre para realizar toda clase de tareas.
    </p>
  </Page>
</Base>
